@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #009879;
    --white: #ffffff;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);    
}

.styled-table thead tr {
    background-color: var(--primary);
    color: var(--white);
    text-align: left;
}

.styled-table th,
.styled-table td {
    @apply py-3 px-4;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: thin solid var(--primary);
}

.clickable-row:hover {
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
}

.spinner {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}